@use 'mixins';
@use 'variables';

.⁂-account-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.⁂-account-header {
  &__container {
    margin: -1rem -1rem 0;

    &--placeholder {
      div:first-child {
        position: relative;
        width: 100%;
        height: 8rem;
        background-color: rgb(var(--color-gray-200));

        .dark & {
          background-color: rgb(var(--color-gray-900) / 0.5);
        }

        .black & {
          border-radius: 0;
        }

        @media (min-width: variables.$breakpoint-md) {
          border-radius: var(--radius-xl) var(--radius-xl) 0 0;
        }

        @media (min-width: variables.$breakpoint-lg) {
          height: 12rem;
        }
      }
    }

    @media (min-width: variables.$breakpoint-sm) {
      margin: -1.5rem -1.5rem 0;
    }
  }
}

.⁂-account-info-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__container {
    flex: 1;
    min-width: 0;

    @media (min-width: variables.$breakpoint-sm) {
      padding: 0 0.5rem;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;

    &__badges {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }

    &__display-name {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      align-items: center;
      @include mixins.text($size: lg, $weight: bold);

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__original-display-name {
      @include mixins.text($theme: muted, $truncate: true);
    }

    &__handle {
      @include mixins.text($size: sm, $theme: muted, $truncate: true);

      direction: ltr;
      display: flex;
      gap: 0.125rem;
      align-items: center;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.⁂-account-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;

  a, div {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    @include mixins.text($weight: bold, $size: sm);

    strong {
      color: rgb(var(--color-primary-600));

      .dark * & {
        color: rgb(var(--color-primary-400));
      }
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

.⁂-account-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
  &--collapsed {
    overflow: hidden;
    max-height: 200px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__note {
    @include mixins.text($size: sm);

    overflow-wrap: break-word;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    &__item {
      @include mixins.text($size: sm);

      display: flex;
      gap: 0.125rem;
      align-items: center;

      svg {
        width: 1rem;
        height: 1rem;
        color: rgb(var(--color-gray-800));

        .dark & {
          color: rgb(var(--color-gray-200));
        }
      }
    }

    @media (min-width: variables.$breakpoint-md) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    &--optional {
      @media (min-width: variables.$breakpoint-xl) {
        display: none;
      }
    }
  }
}

.⁂-account-card {
  display: block;
  flex-shrink: 0;
  width: 100%;

  > div {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-between;
  }

  &--action-top {
    > div {
      align-items: flex-start;
    }
  }
}

.⁂-verification-badge {
  border-radius: var(--radius-full);
  background-color: rgb(var(--color-accent-500));

  img,
  svg {
    width: 1rem;
    height: 1rem;
    padding: 1px;
    border-radius: var(--radius-full);

    color: white;

    background-color: rgb(var(--color-accent-500));
  }
}

.⁂-recent-scrobble {
  &__text {
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;

    white-space: nowrap;

    p {
      position: relative;
      display: inline-block;

      .no-reduce-motion .⁂-recent-scrobble--animate & {
        animation: text-overflow 8s linear infinite;
      }
    }
  }

  .⁂-icon-button {
    margin: -0.25rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

@keyframes text-overflow {
  10%,
  90% {
    left: 0%;
    transform: translateX(0);
  }

  40%,
  60% {
    left: 100%;
    transform: translateX(-100%);
  }
}

.⁂-avatar {
  display: block;
  border-radius: var(--radius-lg);
  line-height: 0;

  img,
  canvas {
    border-radius: inherit;
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
  }

  // Adapted from Iceshrimp which I guess took it from Misskey
  // https://iceshrimp.dev/iceshrimp/iceshrimp/src/branch/dev/packages/client/src/components/global/MkAvatar.vue
  &--cat {
    background: rgb(var(--color-gray-200));

    &::before,
    &::after {
      content: '';

      display: inline-block;

      box-sizing: border-box;
      width: 50%;
      height: 50%;
      border: solid 0.05em currentcolor;

      background: #ebbcba;
    }

    &::before {
      transform: rotate(37.5deg) skew(30deg);
      border-radius: 0 75% 75%;
    }

    &::after {
      transform: rotate(-37.5deg) skew(-30deg);
      border-radius: 75% 0 75% 75%;
    }

    .dark & {
      background: rgb(var(--color-gray-900));
    }

    img {
      position: absolute;
      z-index: 1;
      inset: 0;
    }

    .no-reduce-motion &:hover {
      &::before {
        animation: earwiggleleft 1s infinite;
      }

      &::after {
        animation: earwiggleright 1s infinite;
      }
    }
  }
}

@keyframes earwiggleleft {
  0% {
    transform: rotate(37.6deg) skew(30deg);
  }

  25% {
    transform: rotate(10deg) skew(30deg);
  }

  50% {
    transform: rotate(20deg) skew(30deg);
  }

  75% {
    transform: rotate(0deg) skew(30deg);
  }

  100% {
    transform: rotate(37.6deg) skew(30deg);
  }
}

@keyframes earwiggleright {
  0% {
    transform: rotate(-37.6deg) skew(-30deg);
  }

  30% {
    transform: rotate(-10deg) skew(-30deg);
  }

  55% {
    transform: rotate(-20deg) skew(-30deg);
  }

  75% {
    transform: rotate(0deg) skew(-30deg);
  }

  100% {
    transform: rotate(-37.6deg) skew(-30deg);
  }
}

.⁂-instance-favicon {
  flex: none;
  width: 1rem;
  height: 1rem;

  img {
    width: 100%;
    max-height: 100%;
  }

  &:focus {
    outline: 2px solid rgb(var(--color-primary-500));
    outline-offset: 2px;
  }
}

.⁂-media-panel {
  .⁂-widget__body {
    width: 100%;
  }

  &__attachments {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.125rem;

    border-radius: var(--radius-md);
  }

  &__empty {
    @include mixins.text($size: sm, $theme: muted);
  }
}

.⁂-profile-field {
  span[data-markup] {
    overflow-wrap: anywhere;
  }

  dt span[data-markup] {
    @include mixins.text($weight: bold);
  }

  &--verified dd {
    color: rgb(var(--color-success-500));
  }

  &__content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__verified {
    flex: none;
  }
}

.⁂-account-local-time {
  display: flex;
  gap: 0.125rem;
  align-items: center;
  margin-top: 0.25rem;

  svg {
    width: 1rem;
    height: 1rem;
    color: rgb(var(--color-gray-800));

    .dark & {
      color: rgb(var(--color-gray-200));
    }
  }

  strong {
    color: rgb(var(--color-green-500));
  }
}

.⁂-profile-fields-panel {
  .⁂-widget__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  span[data-markup] {
    @include mixins.text;

    overflow: hidden;
    overflow-wrap: anywhere;
  }
}

.⁂-moved-note {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  margin-bottom: 0.5rem;

  svg {
    flex: none;
    color: rgb(var(--color-primary-600));

    .dark & {
      color: rgb(var(--color-primary-400));
    }
  }

  p {
    @include mixins.text($size: sm, $theme: muted, $truncate: true);
  }

  &__container {
    padding: 1rem;
  }
}

.⁂-mention-with-avatar {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;

  margin: 0.5px 0;
  padding: 0.125rem 0.5rem 0.125rem 0.25rem;
  border-radius: var(--radius-full);

  vertical-align: middle;

  background: rgb(var(--color-gray-200));

  .dark & {
    background: rgb(var(--color-primary-800));
  }

  .black & {
    background: rgb(var(--color-gray-800));
  }

  &:hover {
    text-decoration: underline;
  }

  .⁂-avatar {
    overflow: hidden;
    border-radius: var(--radius-full);

    .text-lg & {
      width: 1.5rem !important;
      height: 1.5rem !important;
    }

    &--placeholder {
      width: 1rem;
      height: 1rem;
    }
  }
}

.⁂-avatar-stack {
  --avatar-stack-background: white;

  position: relative;
  display: flex;

  .dark & {
    --avatar-stack-background: rgb(var(--color-primary-900));
  }

  .black & {
    --avatar-stack-background: black;
  }

  > div {
    position: relative;

    &:not(:first-child) {
      margin-left: -0.75rem;
    }

    .⁂-avatar {
      border-radius: var(--radius-full) !important;
      outline: 2px solid var(--avatar-stack-background);
    }
  }
}

.⁂-account-hover-card {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;

  width: 20rem;

  opacity: 100;

  transition: opacity 0.15s var(--ease-default);

  &--hidden {
    pointer-events: none;
    opacity: 0;
  }

  > div {
    position: relative;
    overflow: hidden;

    .black & {
      border: 1px solid rgb(var(--color-gray-800));
      border-radius: var(--radius-xl) !important;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__badge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}

.⁂-familiar-followers {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  
  p {
    @include mixins.text($size: sm, $theme: muted);

    a {
      display: inline-block;

      span {
        display: flex;
        flex-grow: 1;
        gap: 0.25rem;
        align-items: center;

        p {
          @include mixins.text($size: sm, $theme: primary, $truncate: true);
        }
      }
    }

    span {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.⁂-birthday-account {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;

  padding: 0.625rem;

  &__account {
    width: 100%;
  }

  &__label {
    display: flex;
    gap: 0.125rem;
    align-items: center;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.⁂-follow-request-actions {
  display: flex;
  gap: 0.5rem;
  
  button:first-child {
    @include mixins.button($theme: secondary, $size: sm);
  }

  button:last-child {
    @include mixins.button($theme: danger, $size: sm);
  }
}
