@use 'mixins';
@use 'variables';

.⁂-dashboard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__counters {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;

    @media (min-width: variables.$breakpoint-sm) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__source-code {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }
}

.⁂-dashcounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: rgb(var(--color-gray-100));
  transition: transform 0.15s ease-in-out;

  .dark & {
    background-color: rgb(var(--color-gray-800));
  }

  &__number {
    @include mixins.text($align: center, $size: 2xl, $weight: medium);
  }

  &__label {
    @include mixins.text($align: center);
  }
}
