@use 'mixins';
@use 'variables';

.compose-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  &__select-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    button {
      @include mixins.button($theme: muted, $size: xs);

      .icon svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &--transparent &__select-buttons {
    margin-bottom: -0.5rem;
  }

  &__spoiler-input {
    border-radius: var(--radius-md);
    background-color: transparent !important;
  }

  &__editor {
    position: relative;

    &__placeholder {
      pointer-events: none;
      user-select: none;

      position: absolute;
      top: 0;

      font-size: var(--text-base);
      color: rgb(var(--color-gray-600));

      visibility: visible !important;

      .dark &::placeholder {
        color: rgb(var(--color-gray-600));
      }
    }

    &__editable {
      position: relative;
      z-index: 10;
      min-height: 99px;
      font-size: var(--text-base);

      &--condensed {
        min-height: 39px;
      }

      .no-reduce-motion & {
        transition: min-height 150ms var(--ease-default);
      }

      &:focus-visible {
        outline: none;
      }
    }
  }

  &__editor-placeholder {
    height: 39px;
  }

  &:not(&--transparent) &__editor {
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    border: 1px solid rgb(var(--color-gray-400));
    border-radius: var(--radius-md);

    outline: 2px solid transparent;

    &:focus-within {
      border-color: rgb(var(--color-primary-500));
      outline-color: rgb(var(--color-primary-500));
    }

    .dark & {
      border-color: rgb(var(--color-gray-800));
      outline-color: rgb(var(--color-gray-800));
    }

    .dark &:focus-within {
      border-color: rgb(var(--color-primary-500));
      outline-color: rgb(var(--color-primary-500));
    }

    &__placeholder {
      padding-top: 0.5rem;
    }
  }

  &__modifiers {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-family: inherit;
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
    color: rgb(var(--color-gray-900));
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &--condensed {
      display: none;
    }
  }

  &--with-avatar &__footer {
    margin-left: -3.5rem;

    @media (min-width: variables.$breakpoint-sm) {
      margin-left: 0;
    }
  }

  &__buttons {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    .icon-button {
      padding: 0.5rem;
      color: rgb(var(--color-gray-600));
      background-color: transparent;
      transition: all 200ms var(--ease-default);

      &:hover {
        color: rgb(var(--color-gray-800));
        background-color: rgb(var(--color-primary-100));
      }

      .dark &:hover {
        color: #fff;
        background-color: rgb(var(--color-primary-800));
      }

      .black &:hover {
        background-color: rgb(var(--color-gray-800));
      }
    }
  }

  &__button {
    color: rgb(var(--color-gray-600));

    &:hover {
      color: rgb(var(--color-gray-700));
    }

    .dark &:hover {
      color: rgb(var(--color-gray-500));
    }

    &[aria-pressed='true'] {
      color: rgb(var(--color-primary-500));

      &:hover {
        color: rgb(var(--color-primary-600));
      }

      .dark & {
        color: rgb(var(--color-primary-500));

        &:hover {
          color: rgb(var(--color-primary-400));
        }
      }
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;

    [dir='rtl'] & {
      margin-right: auto;
      margin-left: 0;
    }
  }

  &__counter {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

  &__send-button {
    user-select: none;

    display: inline-flex;
    gap: 0.5rem;
    place-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    padding-right: 0.5rem;
    border-color: transparent;
    border-width: 1px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;

    appearance: none;
    background-color: rgb(var(--color-primary-500));

    transition: all 150ms var(--ease-default);

    &:hover {
      background-color: rgb(var(--color-primary-400));
    }

    &:focus {
      background-color: rgb(var(--color-primary-500));
      outline: 2px solid rgb(var(--color-primary-300));
      outline-offset: 2px;
    }

    &:disabled {
      cursor: default;
      opacity: 0.75;
    }

    .dark &:hover {
      background-color: rgb(var(--color-primary-600));
    }

    &__container {
      display: flex;
      gap: 1px;
      align-items: center;

      font-size: var(--text-sm);
      font-weight: 500;
      line-height: var(--leading-sm);
      color: rgb(var(--color-gray-100));

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    &__actions {
      cursor: pointer;
      user-select: none;

      display: inline-flex;

      height: 100%;
      padding-top: 0.625rem;
      padding-right: 0.75rem;
      padding-bottom: 0.625rem;
      padding-left: 0.25rem;
      border-color: transparent;
      border-width: 1px;

      appearance: none;
      background-color: rgb(var(--color-primary-500));

      transition: all 150ms var(--ease-default);

      &:last-child {
        border-top-right-radius: 9999px;
        border-bottom-right-radius: 9999px;
      }

      &:hover {
        background-color: rgb(var(--color-primary-400));
      }

      &:focus {
        background-color: rgb(var(--color-primary-500));
        outline: 2px solid rgb(var(--color-primary-300));
        outline-offset: 2px;
      }

      &:disabled {
        cursor: default;
        opacity: 0.75;
      }

      .dark &:hover {
        background-color: rgb(var(--color-primary-600));
      }
    }
  }

  &__poll {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__options {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__option {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__hint {
      @include mixins.text($theme: muted);
    }

    &__date {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .icon-button {
      color: rgb(var(--color-gray-400));
      background: transparent;

      &:hover {
        color: rgb(var(--color-gray-600));
      }

      svg {
        height: 1rem;
      }
    }
  }

  &__upload-thumbnail {
    &.video {
      background-image: url('../assets/images/video-placeholder.png');
      background-size: cover;
    }

    &.audio {
      background-image: url('../assets/images/audio-placeholder.png');
      background-size: cover;
    }
  }
}

.modal-root__container .compose-form__select-buttons {
  padding-top: 0.25rem;
}

.language-dropdown {
  &__search {
    position: relative;

    display: block;
    flex-grow: 1;

    margin: 0.5rem;
    margin-top: 0.25rem;

    > span {
      position: absolute;
      visibility: hidden;
    }

    button {
      cursor: pointer;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      display: flex;
      align-items: center;

      padding-right: 0.5rem;
      padding-left: 0.5rem;

      [dir='rtl'] & {
        right: auto;
        left: 0;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
        color: rgb(var(--color-gray-600));
      }
    }
  }

  &__options {
    overflow: auto;
    width: 100%;
    height: 24rem;
    margin-bottom: -0.25rem;
  }

  &__option {
    cursor: default;

    display: flex;
    gap: 0.5rem;

    width: 100%;
    padding: 0.625rem;

    font-size: var(--text-sm);
    line-height: var(--leading-sm);
    color: rgb(var(--color-gray-700));
    text-align: left;

    .dark & {
      color: rgb(var(--color-gray-400));
    }

    &--modified {
      cursor: pointer;
      background-color: rgb(var(--color-gray-100));

      &:hover {
        background-color: rgb(var(--color-gray-200));
      }

      .dark.black & {
        background-color: rgb(var(--color-gray-900));
      }

      .dark & {
        background-color: rgb(var(--color-gray-800));
      }

      .dark &:hover {
        background-color: rgb(var(--color-gray-700));
      }

      .language-dropdown__option__name {
        color: #000;

        .dark & {
          color: #fff;
        }
      }
    }

    &--available {
      cursor: pointer;

      &:hover {
        background-color: rgb(var(--color-gray-100));
      }

      .dark.black &:hover {
        background-color: rgb(var(--color-gray-900));
      }

      .dark &:hover {
        background-color: rgb(var(--color-gray-800));
      }
    }

    &--active {
      cursor: pointer;
    }

    &__name {
      flex: 1 1 auto;
      flex-grow: 1;
      color: rgb(var(--color-primary-600));

      .dark & {
        color: rgb(var(--color-primary-400));
      }
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
