@use 'mixins';
@use 'variables';

.⁂-icon-button {
  display: inline-flex;
  column-gap: 0.5rem;
  align-items: center;

  padding: 0.25rem;
  border-radius: 9999px;

  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 2px rgb(var(--color-primary-500)),
      0 0 0 4px white;
  }

  .dark &:focus-visible {
    box-shadow: 0 0 0 2px rgb(var(--color-primary-500));
  }

  &:disabled {
    opacity: 0.5;
  }

  &--seamless {
    background-color: white;

    .dark & {
      background-color: transparent;
    }
  }

  &--outlined {
    border: 1px solid rgb(var(--color-gray-400));
    color: rgb(var(--color-gray-900));
    background-color: transparent;

    &:hover {
      border-color: rgb(var(--color-primary-300));
    }

    &:focus {
      border-color: rgb(var(--color-primary-500));
    }

    .dark & {
      border-color: rgb(var(--color-gray-800));
      color: rgb(var(--color-gray-100));

      &:hover {
        border-color: rgb(var(--color-primary-700));
      }
    }
  }

  &--secondary {
    border: 1px solid transparent;
    color: rgb(var(--color-primary-500));
    background-color: rgb(var(--color-primary-100));

    &:hover {
      background-color: rgb(var(--color-primary-50));
    }

    &:focus {
      background-color: rgb(var(--color-primary-100));
    }

    .dark & {
      color: rgb(var(--color-primary-200));
      background-color: rgb(var(--color-primary-800));

      &:hover {
        background-color: rgb(var(--color-primary-700));
      }

      &:focus {
        background-color: rgb(var(--color-primary-800));
      }
    }
  }

  &--dark {
    color: white;
    background-color: rgb(var(--color-gray-900));
  }

  &--transparent {
    background-color: transparent;
  }
}

.⁂-accordion {
  border-radius: 0.5rem;
  color: rgb(var(--text-gray-900));
  background: white;
  box-shadow:
    0 1px 3px 0 #0001,
    0 1px 2px -1px #0001;

  .dark & {
    color: rgb(var(--color-gray-100));
    background: rgb(var(--color-primary-800));
    box-shadow: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0.75rem 1rem;

    font-weight: 600;

    &__actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    &__action .⁂-icon {
      width: 1.25rem;
      height: 1.25rem;
      color: rgb(var(--color-gray-700));

      .dark & {
        color: rgb(var(--color-gray-600));
      }
    }

    &__chevron {
      width: 1.25rem;
      height: 1.25rem;
      color: rgb(var(--color-gray-700));
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);

      .dark & {
        color: rgb(var(--color-gray-600));
      }
    }
  }

  &__body {
    padding: 1rem;
    border-color: rgb(var(--color-gray-100));
    border-style: solid;
    border-top-width: 1px;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    .dark & {
      border-color: rgb(var(--color-primary-900));
    }

    .dark.black & {
      border-color: black;
    }

    p {
      @include mixins.text;
    }
  }

  &:not(&--expanded) {
    .⁂-accordion__body {
      display: none;
      height: 0;
    }
  }

  &--expanded {
    .⁂-accordion__header__chevron {
      transform: rotate(180deg);
    }
  }
}

.⁂-divider {
  position: relative;

  > div:first-child {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;

    > div {
      width: 100%;
      border-color: rgb(var(--color-gray-100));
      border-style: solid;
      border-top-width: 2px;

      .dark & {
        border-top-color: rgb(var(--color-gray-800));
      }

      .dark.black & {
        border-top-width: 1px;
      }
    }
  }

  &__text {
    position: relative;
    display: flex;
    justify-content: center;

    > span {
      padding: 0 0.5rem;
      color: rgb(var(--color-gray-700));
      background: white;

      .dark & {
        color: rgb(var(--color-gray-600));
        background: rgb(var(--color-gray-900));
      }

      .dark.black & {
        background: black;
      }
    }
  }
}

.⁂-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  &__counter {
    position: absolute;
    top: -0.5rem;
    right: -0.75rem;

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    min-width: 1.25rem;
    height: 1.25rem;

    overflow-wrap: break-word;
    white-space: nowrap;
  }
}

.⁂-counter {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 1.25rem;
  max-width: 1.625rem;
  height: 1.25rem;
  border-radius: 9999px;

  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  color: white;

  background-color: rgb(var(--color-secondary-500));
  outline: 2px solid #fff;

  .dark.black & {
    outline-color: #000;
  }

  .dark & {
    outline-color: rgb(var(--color-gray-800));
  }
}

.⁂-list {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.⁂-list-item {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: linear-gradient(
    to right,
    rgb(var(--color-gradient-start) / 0.1),
    rgb(var(--color-gradient-end) / 0.1)
  );

  [dir='rtl'] & {
    flex-direction: row-reverse;
  }

  &--md {
    padding: 0.5rem 1rem;
  }

  &--sm {
    padding: 0.125rem 0.5rem;
  }

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  &__label {
    display: flex;
    flex-direction: column;

    padding-top: 0.375rem;
    padding-right: 1rem;
    padding-bottom: 0.375rem;

    [dir='rtl'] & {
      padding-right: 0;
      padding-left: 1rem;
    }

    > :first-child {
      color: rgb(var(--color-gray-900));
      overflow-wrap: break-word;

      .dark & {
        color: rgb(var(--color-gray-100));
      }
    }
  }

  &__hint {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(var(--color-gray-700));

    .dark & {
      color: rgb(var(--color-gray-600));
    }
  }

  &__body {
    overflow: hidden;
    display: flex;
    gap: 0.25rem;
    align-items: center;

    color: rgb(var(--color-gray-700));

    [dir='rtl'] & {
      flex-direction: row-reverse;
    }

    .dark & {
      color: rgb(var(--color-gray-600));
    }

    > .⁂-icon {
      margin-left: 0.25rem;

      [dir='rtl'] & {
        transform: rotate(180deg);
      }
    }
  }
}

a.⁂-list-item,
.⁂-list-item[role='link'] {
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(
      to right,
      rgb(var(--color-gradient-start) / 0.2),
      rgb(var(--color-gradient-end) / 0.2)
    );
  }

  .dark &:hover {
    background-image: linear-gradient(
      to right,
      rgb(var(--color-gradient-start) / 0.05),
      rgb(var(--color-gradient-end) / 0.05)
    );
  }
}

.⁂-select {
  overflow: hidden;

  padding-top: 0.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  border-color: rgb(var(--color-gray-300));
  border-radius: 0.375rem;

  line-height: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:focus {
    border-color: rgb(var(--color-primary-500));
    outline: 2px solid rgb(var(--color-primary-500));
    outline-offset: 0;
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.5;
  }

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    border-color: rgb(var(--color-gray-800));
    color: rgb(var(--color-gray-100));
    background-color: rgb(var(--color-gray-900));
    outline: 2px solid rgb(var(--color-gray-800));
  }

  .dark &:focus {
    border-color: rgb(var(--color-primary-500));
    outline-color: rgb(var(--color-primary-500));
  }

  @media (min-width: variables.$breakpoint-sm) {
    font-size: 0.875rem;
  }
}

.⁂-card-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &__button {
    border-radius: 9999px;
    color: rgb(var(--color-gray-900));

    &:focus {
      outline: 2px solid rgb(var(--color-primary-500));
    }

    .dark & {
      color: rgb(var(--color-gray-100));
    }

    > .⁂-icon {
      width: 1.5rem;
      height: 1.5rem;

      [dir='rtl'] & {
        transform: rotate(180deg);
      }
    }
  }
}

.⁂-card-title {
  @include mixins.text($size: xl, $weight: bold);

  &--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.⁂-animated-number {
  position: relative;

  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
}

.⁂-scroll-top-button {
  position: fixed;
  z-index: 50;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;

  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &--visible {
    top: 0.5rem;
    opacity: 1;
  }

  button {
    cursor: pointer;

    display: flex;
    gap: 0.375rem;
    align-items: center;

    padding: 0.5rem 1rem;
    border-radius: 9999px;

    color: white;
    white-space: nowrap;

    background-color: rgb(var(--color-primary-600) / 0.8);
    backdrop-filter: blur(12px) saturate(2);

    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      transform: scale(1.05);
      background-color: rgb(var(--color-primary-700) / 0.8);
    }

    &:active {
      transform: scale(1);
    }

    .⁂-icon svg {
      width: 1rem;
      height: 1rem;
    }

    p {
      @include mixins.text($theme: inherit, $size: sm);
    }
  }
}

.⁂-autosuggest-suggestions {
  position: fixed;
  z-index: 1001;

  display: none;

  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.5rem;

  background-color: #fff;
  box-shadow:
    0 1px 3px 0 #0001,
    0 1px 2px -1px #0001;

  &:focus {
    outline: 2px solid;
    outline-offset: 2px;
  }

  .dark & {
    background-color: rgb(var(--color-gray-900));
    outline: 2px solid rgb(var(--color-primary-700));
  }

  &--visible,
  &:focus-within {
    display: block;
  }

  &__items {
    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: 0.125rem;
    }
  }

  &__item {
    padding-top: 0.625rem;
    padding-right: 1rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;

    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(var(--color-gray-700));

    &:hover {
      background-color: rgb(var(--color-gray-100));
    }

    &:focus {
      background-color: rgb(var(--color-gray-100));
    }

    .dark & {
      color: rgb(var(--color-gray-500));
    }

    .dark &:hover {
      background-color: rgb(var(--color-gray-800));
    }

    .dark &:focus {
      background-color: rgb(var(--color-primary-800));
    }

    &--selected {
      background-color: rgb(var(--color-gray-100));

      &:hover {
        background-color: rgb(var(--color-gray-100));
      }

      .dark & {
        background-color: rgb(var(--color-gray-800));
      }

      .dark &:hover {
        background-color: rgb(var(--color-gray-800));
      }
    }
  }

  &__menu-item {
    cursor: pointer;

    display: flex;
    align-items: center;

    padding-top: 0.625rem;
    padding-right: 1rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;

    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(var(--color-gray-700));

    & > :not([hidden]) ~ :not([hidden]) {
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: rgb(var(--color-gray-100));
    }

    &:focus {
      background-color: rgb(var(--color-gray-100));
    }

    .dark & {
      color: rgb(var(--color-gray-500));
    }

    .dark &:hover {
      background-color: rgb(var(--color-gray-800));
    }

    .dark &:focus {
      background-color: rgb(var(--color-primary-800));
    }
  }
}

.⁂-autosuggest-location {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column;

    p:first-child {
      @include mixins.text;
    }

    p:last-child {
      @include mixins.text($size: xs, $theme: muted);
    }
  }
}

div[data-viewport-type='window']:has(.⁂-empty-message) {
  position: initial !important;
}

.⁂-modal {
  pointer-events: auto;

  position: relative;

  overflow: auto;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 36rem;
  max-height: calc(min(90vh, 100dvh));
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;

  color: rgb(var(--color-gray-900));
  text-align: start;
  vertical-align: middle;

  background-color: #fff;
  box-shadow:
    0 20px 25px -5px #0001,
    0 8px 10px -6px #0001;

  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    color: rgb(var(--color-gray-100));
    background-color: rgb(var(--color-primary-900));
  }

  &--first-render {
    .no-reduce-motion & {
      bottom: -8rem;
    }
  }

  &:not(&--first-render) {
    bottom: 0;
  }

  &__title {
    position: sticky;
    z-index: 10;
    top: 0;

    padding: 1.5rem;
    padding-bottom: 0.5rem;

    background-color: #fffb;
    backdrop-filter: blur(8px) saturate(2);

    .dark.black & {
      background-color: #000b;
    }

    .dark & {
      background-color: rgb(var(--color-primary-900) / 0.75);
    }

    > div {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      width: 100%;
    }

    h3,
    h2 {
      flex-grow: 1;

      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.5rem;
      color: rgb(var(--color-gray-900));

      .dark & {
        color: #fff;
      }
    }

    .⁂-icon-button {
      color: rgb(var(--color-gray-500));

      &:hover {
        color: rgb(var(--color-gray-700));
      }

      .dark & {
        color: rgb(var(--color-gray-300));
      }

      .dark &:hover {
        color: rgb(var(--color-gray-200));
      }

      [dir='rtl'] & {
        transform: rotate(180deg);
      }
    }
  }

  &--close-position-left &__title > div {
    flex-direction: row-reverse;
  }

  &__body {
    padding: 1.5rem;
  }

  :has(.⁂-modal__title) &__body {
    padding-top: 0;
  }

  &__children {
    width: 100%;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;

    &__cancel {
      flex-grow: 1;
    }

    &__other {
      display: flex;
      gap: 0.5rem;
    }

    button.⁂-modal__action-cancel {
      @include mixins.button($theme: tertiary);
    }

    button.⁂-modal__action {
      @include mixins.button($theme: primary);

      &--danger {
        @include mixins.button($theme: danger);
      }
    }

    button.⁂-modal__action-secondary {
      @include mixins.button($theme: secondary);
    }
  }

  @media (min-width: variables.$breakpoint-md) {
    max-height: calc(min(80vh, 100dvh));
  }
}

.⁂-empty-message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  max-width: 32rem;
  margin: 0 auto;
  padding: 1.5rem 0;

  > div {
    padding: 1rem;
    border-radius: 50%;
    background: rgb(var(--color-gray-200));

    .dark & {
      background: rgb(var(--color-gray-800));
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: rgb(var(--color-gray-600));
    }
  }

  h2 {
    @include mixins.text($size: lg, $weight: bold, $align: center);

    margin-bottom: -0.5rem;
  }

  p {
    @include mixins.text($align: center, $theme: muted);
  }
}

.⁂-dropdown-menu {
  z-index: 1001;
  display: flex;

  > div {
    z-index: 1001;

    min-width: 14rem;
    max-width: 24rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.375rem;

    background-color: #fff;
    box-shadow:
      0 10px 15px -3px #0001,
      0 4px 6px -4px #0001;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;

    &:focus {
      outline: 2px solid;
      outline-offset: 2px;
    }

    .dark.black & {
      background-color: #000;
    }

    .no-reduce-motion & {
      transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .dark & {
      background-color: rgb(var(--color-gray-900));
      outline: 2px solid rgb(var(--color-primary-700));
    }
  }

  &__arrow {
    pointer-events: none;

    position: absolute;
    z-index: -1;

    width: 0.75rem;
    height: 0.75rem;

    background-color: #fff;

    .dark.black & {
      background-color: #000;
    }

    .dark & {
      background-color: rgb(var(--color-gray-900));
    }
  }

  &__content {
    overflow: auto;
    max-height: 100%;
  }

  &__page {
    max-width: 100%;
  }

  &__expanded-page {
    width: fit-content;
    margin-right: auto;
  }

  &__header {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    margin-top: 0.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;

    color: rgb(var(--color-gray-700));

    .dark & {
      color: rgb(var(--color-gray-300));
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__items {
    overflow: hidden;

    hr {
      display: block;

      height: 2px;
      margin-top: 0.25rem;
      margin-right: 0.5rem;
      margin-bottom: 0.25rem;
      margin-left: 0.5rem;
      border-style: none;

      background-color: rgb(var(--color-gray-100));

      .dark & {
        background-color: rgb(var(--color-gray-800));
      }
    }

    li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:focus-visible {
        outline: 2px solid rgb(var(--color-primary-500));
      }
    }
  }
}

.⁂-card {
  &--rounded {
    color: rgb(var(--color-gray-900));
    background-color: #fff;
    box-shadow:
      0 10px 15px -3px #0001,
      0 4px 6px -4px #0001;

    .dark.black & {
      background-color: #000;
    }

    .dark & {
      color: rgb(var(--color-gray-100));
      background-color: rgb(var(--color-primary-900));
      box-shadow: none;
    }

    &.⁂-card {
      &--md {
        padding: 1rem;

        @media (min-width: variables.$breakpoint-sm) {
          border-radius: 0.75rem;
        }
      }

      &--lg {
        padding: 1rem;

        @media (min-width: variables.$breakpoint-sm) {
          padding: 1.5rem;
          border-radius: 0.75rem;
        }
      }

      &--xl {
        padding: 1rem;

        @media (min-width: variables.$breakpoint-sm) {
          padding: 2.5rem;
          border-radius: 1.5rem;
        }
      }

      &--md,
      &--lg,
      &--xl {
        .dark.black & {
          border-radius: 0;
        }
      }
    }
  }

  &--slim {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.⁂-big-card {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin: 0 -1rem 1rem;
    border-color: rgb(var(--color-gray-200));
    border-style: solid;
    border-bottom-width: 1px;

    .dark & {
      border-color: rgb(var(--color-gray-800));
    }

    h1 {
      @include mixins.text($size: 2xl, $align: center, $weight: bold);
    }

    p {
      @include mixins.text($theme: muted, $align: center);
    }

    @media (min-width: variables.$breakpoint-sm) {
      margin-right: -2.5rem;
      margin-left: -2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  &__body {
    margin-right: auto;
    margin-left: auto;

    @media (min-width: variables.$breakpoint-sm) {
      width: 66.6667%;
      padding-top: 2.5rem;
    }
  }
}

.⁂-column {
  position: relative;

  &__header {
    &__action {
      display: flex;
      flex-grow: 1;
      justify-content: end;
    }
  }

  &[column-type='transparent'] {
    .⁂-column__header {
      padding: 1rem;

      .dark.black & {
        padding: 1rem;
      }

      @media (min-width: variables.$breakpoint-sm) {
        padding: 0;
        padding-bottom: 1rem;
      }
    }
  }

  &[column-type='filled'] {
    .⁂-column__header {
      position: sticky;
      z-index: 10;
      top: 0;

      margin-top: -1rem;
      margin-right: -1rem;
      margin-left: -1rem;
      padding: 1rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;

      background-color: #fffe;
      backdrop-filter: blur(8px) saturate(2);

      .dark.black & {
        background-color: #000b;
      }

      .dark & {
        background-color: rgb(var(--color-primary-900) / 0.9);
      }

      &--scrolled {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.⁂-card-lg {
      .⁂-column__header {
        @media (min-width: variables.$breakpoint-sm) {
          margin: -1.5rem -1.5rem 0;
          padding: 1.5rem;
        }
      }
    }
  }
}

.window-controls-overlay .⁂-column__header {
  user-select: none;

  -webkit-app-region: drag;
}

.⁂-emoji {
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.25);
  }
}

.⁂-alt-indicator {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;

  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  border-radius: 0.25rem;

  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  color: #fff;
  text-transform: uppercase;

  background-color: rgb(var(--color-gray-900));

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.⁂-tooltip {
  pointer-events: none;

  z-index: 100;

  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem;

  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  color: rgb(var(--color-gray-100));
  white-space: nowrap;

  background-color: rgb(var(--color-gray-800));
  box-shadow:
    0 1px 3px 0 #0001,
    0 1px 2px -1px #0001;

  .dark & {
    color: rgb(var(--color-gray-900));
    background-color: rgb(var(--color-gray-100));
  }

  &__arrow {
    fill: rgb(var(--color-gray-800));

    .dark & {
      fill: rgb(var(--color-gray-100));
    }
  }
}

.⁂-indicator {
  border-radius: 9999px;
  outline-style: double;

  &--sm {
    width: 0.375rem;
    height: 0.375rem;
    box-shadow: 0 1px 2px 0 #0000000d;
  }

  &--active {
    background: var(--hex-green-500);
    outline: 2px solid var(--hex-green-400);
  }

  &--pending {
    background: var(--hex-yellow-500);
    outline: 2px solid var(--hex-yellow-400);
  }

  &--error {
    background: var(--hex-red-500);
    outline: 2px solid var(--hex-red-400);
  }

  &--inactive {
    background: var(--hex-neutral-500);
    outline: 2px solid var(--hex-neutral-400);
  }
}

.⁂-tag {
  display: inline-flex;
  align-items: center;

  padding: 0.25rem;
  border-radius: 0.25rem;

  color: white;
  white-space: nowrap;

  background-color: rgb(var(--color-primary-500));
}

.⁂-progress-bar {
  overflow: hidden;

  width: 100%;
  height: 0.625rem;
  border-radius: 0.5rem;

  background-color: rgb(var(--color-gray-300));

  .dark & {
    background-color: rgb(var(--color-primary-800));
  }

  &--sm {
    height: 6px;
  }

  > div {
    height: 100%;
    background-color: rgb(var(--color-secondary-500));
  }
}

.⁂-slider {
  cursor: pointer;

  position: relative;

  display: inline-flex;

  height: 1.5rem;

  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &__track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 0.25rem;
    border-radius: 9999px;

    background-color: rgb(var(--color-primary-200));

    .dark & {
      background-color: rgb(var(--color-primary-700));
    }
  }

  &__fill {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    height: 0.25rem;
    border-radius: 9999px;

    background-color: rgb(var(--color-accent-500));

    transition: width 0ms ease-in-out;
  }

  &__thumb {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

    width: 0.75rem;
    height: 0.75rem;
    margin-left: -0.375rem;
    border-radius: 9999px;

    background-color: rgb(var(--color-accent-500));
    box-shadow: 0 1px 2px 0 #0001;

    transition: left 0ms ease-in-out;
  }

  &--animate {
    .⁂-slider__fill {
      transition-duration: 150ms;
    }
  }
}

.⁂-step-slider {
  cursor: pointer;

  position: relative;

  display: inline-flex;

  height: 1.5rem;

  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &__track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    height: 0.25rem;
    border-radius: 9999px;

    background-color: rgb(var(--color-primary-200));

    .dark & {
      background-color: rgb(var(--color-primary-700));
    }
  }

  &__fill {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    height: 0.25rem;
    border-radius: 9999px;

    background-color: rgb(var(--color-secondary-500));
  }

  &__step {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

    width: 0.25rem;
    height: 0.75rem;

    background-color: rgb(var(--color-primary-500));
  }

  &__thumb {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);

    width: 0.75rem;
    height: 0.75rem;
    margin-left: -0.375rem;
    border-radius: 9999px;

    background-color: rgb(var(--color-secondary-500));
    box-shadow: 0 1px 2px 0 #0001;

    transition: left 100ms ease-in-out;
  }
}
