@use 'mixins';
@use 'variables';

.⁂-icon-button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  border-radius: 9999px;
  padding: 0.25rem;

  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 2px rgb(var(--color-primary-500)),
      0 0 0 4px white;
  }

  .dark &:focus-visible {
    box-shadow: 0 0 0 2px rgb(var(--color-primary-500));
  }

  &:disabled {
    opacity: 0.5;
  }

  &--seamless {
    background-color: white;

    .dark & {
      background-color: transparent;
    }
  }

  &--outlined {
    border: 1px solid rgb(var(--color-gray-400));
    background-color: transparent;
    color: rgb(var(--color-gray-900));

    &:hover {
      border-color: rgb(var(--color-primary-300));
    }

    &:focus {
      border-color: rgb(var(--color-primary-500));
    }

    .dark & {
      border-color: rgb(var(--color-gray-800));
      color: rgb(var(--color-gray-100));

      &:hover {
        border-color: rgb(var(--color-primary-700));
      }
    }
  }

  &--secondary {
    border: 1px solid transparent;
    background-color: rgb(var(--color-primary-100));
    color: rgb(var(--color-primary-500));

    &:hover {
      background-color: rgb(var(--color-primary-50));
    }

    &:focus {
      background-color: rgb(var(--color-primary-100));
    }

    .dark & {
      background-color: rgb(var(--color-primary-800));
      color: rgb(var(--color-primary-200));

      &:hover {
        background-color: rgb(var(--color-primary-700));
      }

      &:focus {
        background-color: rgb(var(--color-primary-800));
      }
    }
  }

  &--dark {
    background-color: rgb(var(--color-gray-900));
    color: white;
  }

  &--transparent {
    background-color: transparent;
  }
}

.⁂-accordion {
  border-radius: 0.5rem;
  background: white;
  color: rgb(var(--text-gray-900));
  box-shadow: 0 1px 3px 0 #0001, 0 1px 2px -1px #0001;

  .dark & {
    background: rgb(var(--color-primary-800));
    color: rgb(var(--color-gray-100));
    box-shadow: none;
  }

  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    font-weight: 600;

    &__actions {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__action .⁂-icon {
      width: 1.25rem;
      height: 1.25rem;
      color: rgb(var(--color-gray-700));

      .dark & {
        color: rgb(var(--color-gray-600));
      }
    }

    &__chevron {
      width: 1.25rem;
      height: 1.25rem;
      color: rgb(var(--color-gray-700));
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);


      .dark & {
        color: rgb(var(--color-gray-600));
      }
    }
  }

  &__body {
    padding: 1rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-width: 1px;
    border-style: solid;
    border-color: rgb(var(--color-gray-100));

    .dark & {
      border-color: rgb(var(--color-primary-900));
    }

    .dark.black & {
      border-color: black;
    }

    p {
      @include mixins.text;
    }
  }

  &:not(&--expanded) {
    .⁂-accordion__body {
      height: 0;
      display: none;
    }
  }

  &--expanded {
    .⁂-accordion__header__chevron {
      transform: rotate(180deg);
    }
  }
}

.⁂-divider {
  position: relative;

  > div:first-child {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;

    > div {
      width: 100%;
      border-top-width: 2px;
      border-style: solid;
      border-color: rgb(var(--color-gray-100));

      .dark & {
        border-top-color: rgb(var(--color-gray-800));
      }

      .dark.black & {
        border-top-width: 1px;
      }
    }
  }

  &__text {
    position: relative;
    display: flex;
    justify-content: center;

    > span {
      background: white;
      color: rgb(var(--color-gray-700));
      padding: 0 0.5rem;

      .dark & {
        background: rgb(var(--color-gray-900));
        color: rgb(var(--color-gray-600));
      }

      .dark.black & {
        background: black;
      }
    }
  }
}

.⁂-icon {
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-direction: column;

  &__counter {
    position: absolute;
    right: -0.75rem;
    top: -0.5rem;
    display: flex;
    height: 1.25rem;
    min-width: 1.25rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow-wrap: break-word;
  }
}

.⁂-counter {
  display: flex;
  height: 1.25rem;
  min-width: 1.25rem;
  max-width: 1.625rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: white;
  background-color: rgb(var(--color-secondary-500));
  outline: 2px solid #fff;

  .dark.black & {
    outline-color: #000;
  }

  .dark & {
    outline-color: rgb(var(--color-gray-800));
  }
}

.⁂-list {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.⁂-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(var(--color-gradient-start) / 0.1), rgb(var(--color-gradient-end) / 0.1));


  &--md {
    padding: 0.5rem 1rem;
  }

  &--sm {
    padding: 0.125rem 0.5rem;
  }

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &__label {
    display: flex;
    flex-direction: column;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-right: 1rem;

    [dir="rtl"] & {
      padding-left: 1rem;
      padding-right: 0;
    }

    > :first-child {
      overflow-wrap: break-word;
      color: rgb(var(--color-gray-900));

      .dark & {
        color: rgb(var(--color-gray-100));
      }
    }
  }

  &__hint {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(var(--color-gray-700));

    .dark & {
      color: rgb(var(--color-gray-600));
    }
  }

  &__body {
    overflow: hidden;
    color: rgb(var(--color-gray-700));

    .dark & {
      color: rgb(var(--color-gray-600));
    }

    > .⁂-icon {
      margin-left: 0.25rem;

      [dir="rtl"] & {
        transform: rotate(180deg);
      }
    }
  }
}

a.⁂-list-item,
.⁂-list-item[role='link'] {
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to right, rgb(var(--color-gradient-start) / 0.2), rgb(var(--color-gradient-end) / 0.2));
  }

  .dark &:hover {
    background-image: linear-gradient(to right, rgb(var(--color-gradient-start) / 0.05), rgb(var(--color-gradient-end) / 0.05));
  }
}

.⁂-select {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0.375rem;
  border-color: rgb(var(--color-gray-300));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  line-height: 1.25rem;

  &:focus {
    border-color: rgb(var(--color-primary-500));
    outline: 2px solid rgb(var(--color-primary-500));
    outline-offset: 0;
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.5;
  }

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    border-color: rgb(var(--color-gray-800));
    background-color: rgb(var(--color-gray-900));
    color: rgb(var(--color-gray-100));
    outline: 2px solid rgb(var(--color-gray-800));
  }

  .dark &:focus {
    border-color: rgb(var(--color-primary-500));
    outline-color: rgb(var(--color-primary-500));
  }

  @media (min-width: variables.$breakpoint-sm) {
    font-size: 0.875rem;
  }
}

.⁂-card-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__button {
    border-radius: 9999px;
    color: rgb(var(--color-gray-900));

    &:focus {
      outline: 2px solid rgb(var(--color-primary-500));
    }

    .dark & {
      color: rgb(var(--color-gray-100));
    }

    > .⁂-icon {
      height: 1.5rem;
      width: 1.5rem;

      [dir="rtl"] & {
        transform: rotate(180deg);
      }
    }
  }
}

.⁂-card-title {
  @include mixins.text($size: xl, $weight: bold);

  &--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.⁂-animated-number {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.⁂-scroll-top-button {
  position: fixed;
  left: 50%;
  top: -1rem;
  z-index: 50;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &--visible {
    top: 0.5rem;
    opacity: 1;
  }

  button {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.375rem;
    white-space: nowrap;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgb(var(--color-primary-600) / 0.8);
    backdrop-filter: blur(12px) saturate(2);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover {
      transform: scale(1.05);
      background-color: rgb(var(--color-primary-700) / 0.8);
    }

    &:active {
      transform: scale(1);
    }

    .⁂-icon svg {
      width: 1rem;
      height: 1rem;
    }

    p {
      @include mixins.text($theme: inherit, $size: sm);
    }
  }
}

.⁂-autosuggest-suggestions {
  position: fixed;
  z-index: 1001;
  display: none;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #fff;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  box-shadow: 0 1px 3px 0 #0001, 0 1px 2px -1px #0001;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .dark & {
    background-color: rgb(var(--color-gray-900));
    outline: 2px solid rgb(var(--color-primary-700));
  }

  &--visible,
  &:focus-within {
    display: block;
  }

  &__items {
    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: 0.125rem;
    }
  }

  &__item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(var(--color-gray-700));

    &:hover {
      background-color: rgb(var(--color-gray-100));
    }

    &:focus {
      background-color: rgb(var(--color-gray-100));
    }

    .dark & {
      color: rgb(var(--color-gray-500));
    }

    .dark &:hover {
      background-color: rgb(var(--color-gray-800));
    }

    .dark &:focus {
      background-color: rgb(var(--color-primary-800));
    }

    &--selected {
      background-color: rgb(var(--color-gray-100));

      &:hover {
        background-color: rgb(var(--color-gray-100));
      }

      .dark & {
        background-color: rgb(var(--color-gray-800));
      }

      .dark &:hover {
        background-color: rgb(var(--color-gray-800));
      }
    }
  }

  &__menu-item {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(var(--color-gray-700));

    & > :not([hidden]) ~ :not([hidden]) {
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: rgb(var(--color-gray-100));
    }

    &:focus {
      background-color: rgb(var(--color-gray-100));
    }

    .dark & {
      color: rgb(var(--color-gray-500));
    }

    .dark &:hover {
      background-color: rgb(var(--color-gray-800));
    }

    .dark &:focus {
      background-color: rgb(var(--color-primary-800));
    }
  }
}

div[data-viewport-type='window']:has(.⁂-empty-message) {
  position: initial !important;
}

.⁂-modal {
  pointer-events: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: auto;
  border-radius: 1rem;
  background-color: #fff;
  text-align: start;
  vertical-align: middle;
  color: rgb(var(--color-gray-900));
  box-shadow: 0 20px 25px -5px #0001, 0 8px 10px -6px #0001;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    background-color: rgb(var(--color-primary-900));
    color: rgb(var(--color-gray-100));
  }
  max-height: calc(min(90vh, 100dvh));
  max-width: 36rem;

  @media (min-width: variables.$breakpoint-md) {
    max-height: calc(min(80vh, 100dvh));
  }

  &--first-render {
    .no-reduce-motion & {
      bottom: -8rem;
    }
  }

  &:not(&--first-render) {
    bottom: 0;
  }

  &__title {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fffb;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    backdrop-filter: blur(8px) saturate(2);

    .dark.black & {
      background-color: #000b;
    }

    .dark & {
      background-color: rgb(var(--color-primary-900) / 0.75);
    }

    > div {
      display: flex;
      width: 100%;
      align-items: center;
      gap: 0.5rem;
    }

    h3,
    h2 {
      flex-grow: 1;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.5rem;
      color: rgb(var(--color-gray-900));

      .dark & {
        color: #fff;
      }
    }

    .⁂-icon-button {
      color: rgb(var(--color-gray-500));

      &:hover {
        color: rgb(var(--color-gray-700));
      }

      .dark & {
        color: rgb(var(--color-gray-300));
      }

      .dark &:hover {
        color: rgb(var(--color-gray-200));
      }

      [dir="rtl"] & {
        transform: rotate(180deg);
      }
    }
  }

  &--close-position-left &__title > div {
    flex-direction: row-reverse;
  }

  &__body {
    padding: 1.5rem;
  }

  :has(.⁂-modal__title) &__body {
    padding-top: 0;
  }

  &__children {
    width: 100%;
  }

  &__actions {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;

    &__cancel {
      flex-grow: 1;
    }

    &__other {
      display: flex;
      gap: 0.5rem;
    }

    button.⁂-modal__action-cancel {
      @include mixins.button($theme: tertiary);
    }

    button.⁂-modal__action {
      @include mixins.button($theme: primary);

      &--danger {
        @include mixins.button($theme: danger);
      }
    }

    button.⁂-modal__action-secondary {
      @include mixins.button($theme: secondary);
    }
  }
}

.⁂-empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 0;

  > div {
    background: rgb(var(--color-gray-200));
    padding: 1rem;
    border-radius: 50%;

    .dark & {
      background: rgb(var(--color-gray-800));
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
      color: rgb(var(--color-gray-600));
    }
  }

  p {
    @include mixins.text($align: center, $theme: muted);
  }
}

.⁂-dropdown-menu {
  z-index: 1001;
  display: flex;

  > div {
    z-index: 1001;
    min-width: 14rem;
    max-width: 24rem;
    border-radius: 0.375rem;
    background-color: #fff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: 0 10px 15px -3px #0001, 0 4px 6px -4px #0001;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    .dark.black & {
      background-color: #000;
    }

    .no-reduce-motion & {
transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .dark & {
      background-color: rgb(var(--color-gray-900));
      outline: 2px solid rgb(var(--color-primary-700));
    }
  }

  &__arrow {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fff;

    .dark.black & {
      background-color: #000;
    }

    .dark & {
      background-color: rgb(var(--color-gray-900));
    }
  }

  &__content {
    max-height: 100%;
    overflow: auto;
  }

  &__page {
    max-width: 100%;
  }

  &__expanded-page {
    width: fit-content;
    margin-right: auto;
  }

  &__header {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: rgb(var(--color-gray-700));

    .dark & {
      color: rgb(var(--color-gray-300));
    }

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  &__items {
    overflow: hidden;

    hr {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      display: block;
      height: 2px;
      border-style: none;
      background-color: rgb(var(--color-gray-100));

      .dark & {
        background-color: rgb(var(--color-gray-800));
      }
    }

    li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:focus-visible {
        outline: 2px solid rgb(var(--color-primary-500));
      }
    }
  }
}

.⁂-card {
  &--rounded {
    background-color: #fff;
    color: rgb(var(--color-gray-900));
    box-shadow: 0 10px 15px -3px #0001, 0 4px 6px -4px #0001;

    .dark.black & {
      background-color: #000;
    }

    .dark & {
      background-color: rgb(var(--color-primary-900));
      color: rgb(var(--color-gray-100));
      box-shadow: none;
    }

    &.⁂-card {
      &--md {
        padding: 1rem;

        @media (min-width: variables.$breakpoint-sm) {
          border-radius: 0.75rem;
        }
      }

      &--lg {
        padding: 1rem;

        @media (min-width: variables.$breakpoint-sm) {
          border-radius: 0.75rem;
          padding: 1.5rem;
        }
      }

      &--xl {
        padding: 1rem;

        @media (min-width: variables.$breakpoint-sm) {
          border-radius: 1.5rem;
          padding: 2.5rem;
        }
      }

      &--md,
      &--lg,
      &--xl {
        .dark.black & {
          border-radius: 0;
        }
      }
    }
  }

  &--slim {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.⁂-big-card {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 -1rem 1rem;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(var(--color-gray-200));

    .dark & {
      border-color: rgb(var(--color-gray-800));
    }

    @media (min-width: variables.$breakpoint-sm) {
      margin-left: -2.5rem;
      margin-right: -2.5rem;
      padding-bottom: 2.5rem;
    }

    h1 {
      @include mixins.text($size: 2xl, $align: center, $weight: bold);
    }

    p {
      @include mixins.text($theme: muted, $align: center);
    }
  }

  &__body {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: variables.$breakpoint-sm) {
      width: 66.6667%;
      padding-top: 2.5rem;
    }
  }
}

.⁂-column {
  position: relative;

  &__header {
    &__action {
      display: flex;
      flex-grow: 1;
      justify-content: end;
    }
  }

  &[column-type='transparent'] {
    .⁂-column__header {
      padding: 1rem;

      @media (min-width: variables.$breakpoint-sm) {
        padding: 0;
        padding-bottom: 1rem;
      }

      .dark.black & {
        padding: 1rem;
      }
    }
  }

  &[column-type='filled'] {
    .⁂-column__header {
      position: sticky;
      top: 0;
      z-index: 10;
      margin-left: -1rem;
      margin-right: -1rem;
      margin-top: -1rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      background-color: #fffe;
      padding: 1rem;
      backdrop-filter: blur(8px) saturate(2);

      .dark.black & {
        background-color: #000b;
      }

      .dark & {
        background-color: rgb(var(--color-primary-900) / 0.9);
      }

      &--scrolled {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.⁂-card-lg {
      .⁂-column__header {
        @media (min-width: variables.$breakpoint-sm) {
          margin: -1.5rem -1.5rem 0;
          padding: 1.5rem;
        }
      }
    }
  }
}

.window-controls-overlay .⁂-column__header {
  -webkit-app-region: drag;
  user-select: none;
}

.⁂-emoji {
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover {
    transform: scale(1.25);
  }
}

.⁂-alt-indicator {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgb(var(--color-gray-900));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;

  svg {
    height: 1rem;
    width: 1rem;
  }
}

.⁂-tooltip {
  pointer-events: none;
  z-index: 100;
  white-space: nowrap;
  border-radius: 0.25rem;
  background-color: rgb(var(--color-gray-800));
  padding: 0.375rem 0.625rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: rgb(var(--color-gray-100));
  box-shadow:
    0 1px 3px 0 #0001,
    0 1px 2px -1px #0001;

  .dark & {
    background-color: rgb(var(--color-gray-100));
    color: rgb(var(--color-gray-900));
  }

  &__arrow {
    fill: rgb(var(--color-gray-800));

    .dark & {
      fill: rgb(var(--color-gray-100));
    }
  }
}

.⁂-indicator {
  border-radius: 9999px;
  outline-style: double;

  &--sm {
    width: 0.375rem;
    height: 0.375rem;
    box-shadow: 0 1px 2px 0 #0000000d;
  }

  &--active {
    background: var(--hex-green-500);
    outline: 2px solid var(--hex-green-400);
  }

  &--pending {
    background: var(--hex-yellow-500);
    outline: 2px solid var(--hex-yellow-400);
  }

  &--error {
    background: var(--hex-red-500);
    outline: 2px solid var(--hex-red-400);
  }

  &--inactive {
    background: var(--hex-neutral-500);
    outline: 2px solid var(--hex-neutral-400);
  }
}

.⁂-tag {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 0.25rem;
  background-color: rgb(var(--color-primary-500));
  padding: 0.25rem;
  color: white;
}
