@use 'mixins';
@use 'variables';

.⁂-directory {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__filters {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;

    @media (min-width: variables.$breakpoint-md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.625rem;

    @media (min-width: variables.$breakpoint-sm) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &--loading {
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
  }
}

.⁂-directory-card {
  overflow: clip;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 1px 3px 0 #0001, 0 1px 2px -1px #0001;

  & > :not([hidden]) ~ :not([hidden]) {
    border-top-width: 1px;
    border-color: rgb(var(--color-gray-200));
  }

  .dark & > :not([hidden]) ~ :not([hidden]) {
    border-color: rgb(var(--color-primary-700));
  }

  .dark & {
    background-color: rgb(var(--color-primary-800));
  }

  &__header {
    position: relative;

    &__image {
      display: block;
      height: 8rem;
      width: 100%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      object-fit: cover;

      &--empty {
        background-color: rgb(var(--color-gray-200));

        .dark & {
          background-color: rgb(var(--color-primary-700));
        }
      }
    }
  }

  &__badge {
    position: absolute;
    left: 0.625rem;
    top: 0.625rem;
  }

  &__action {
    position: absolute;
    bottom: 0;
    right: 0.75rem;
    z-index: 1;
    transform: translateY(50%);
  }

  &__avatar {
    position: absolute !important;
    bottom: 0;
    left: 0.75rem;
    transform: translateY(50%);
    background-color: #fff;
    outline: 2px solid #fff;

    .dark & {
      background-color: rgb(var(--color-primary-900));
      outline-color: rgb(var(--color-primary-900));
    }
  }

  &__account {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem 0.75rem 0.75rem;
  }

  &__bio {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: inline;
    text-overflow: ellipsis;
    @include mixins.text($truncate: true);

    br {
      display: none;
    }

    p {
      display: none;
    }

    p:first-child {
      display: inline;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.25rem;
    padding: 1rem 0;

    > div {
      display: flex;
      flex-direction: column;

      p:first-child {
        @include mixins.text($theme: primary, $size: sm, $weight: medium);
      }

      p:last-child {
        @include mixins.text($theme: muted, $size: sm);
      }
    }
  }
}
