@use 'mixins';
@use 'variables';

html {
  height: 100%;

  --font-sans:
    nicolium i18n, 'Inter', ui-sans-serif, system-ui, -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Roboto Mono', ui-monospace, monospace;
}

html:has(body.with-modals),
body.with-modals {
  touch-action: none;
  overscroll-behavior: none;
  scrollbar-gutter: stable;
}

body {
  background-color: rgb(var(--color-primary-50));
  font-size: 0.9375rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    background-color: rgb(var(--color-gray-800));
  }
  height: 100%;

  &.system-font,
  &.system-font .font-sans {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      sans-serif;
  }

  &.system-font .font-mono {
    font-family: ui-monospace, monospace;
  }

  &.with-modals {
    overflow: hidden;
  }
}

#app {
  height: 100%;
}

.⁂-dropdown-navigation {
  position: fixed;
  bottom: 60px;
  left: 0.5rem;
  z-index: 1000;
  display: flex;
  max-height: calc(100dvh - 68px);
  width: 100%;
  max-width: 20rem;
  flex: 1 1 0%;
  transform-origin: bottom left;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.75rem;
  background-color: #fffe;
  box-shadow: 0 10px 15px -3px #0001, 0 4px 6px -4px #0001;
  backdrop-filter: blur(12px) saturate(2);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .dark.black & {
    background-color: #000b;
  }

  .no-reduce-motion & {
    transform: scale(0);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .dark & {
    border-width: 1px;
    border-color: rgb(var(--color-gray-800));
    background-color: rgb(var(--color-primary-900) / 0.9);
    box-shadow: none;
  }

  [dir="rtl"] & {
    right: 0.5rem;
    transform-origin: bottom right;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    cursor: default;
    background-color: rgb(var(--color-gray-500));

    .dark.black & {
      background-color: rgb(var(--color-gray-900));
    }

    .no-reduce-motion & {
      transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .dark & {
      background-color: rgb(var(--color-gray-700));
    }
  }

  &__container {
    z-index: 1000;

    &:not(&--partially-visible) {
      display: none;
    }

    &--visible {
      .⁂-dropdown-navigation {
        transform: scale(1);

        &__overlay {
          opacity: 0.2;
        }
      }
    }

    &:not(&--visible) {
      .⁂-dropdown-navigation__overlay {
        .no-reduce-motion & {
          opacity: 0;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    color: rgb(var(--color-gray-900));

    &:hover {
      background-color: rgb(var(--color-gray-50));
    }

    .dark & {
      color: rgb(var(--color-gray-100));
    }

    .dark &:hover {
      background-color: rgb(var(--color-gray-800));
    }

    &__icon {
      position: relative;
      display: inline-flex;
      border-radius: 0.5rem;
      background-color: rgb(var(--color-primary-100));
      padding: 0.5rem;

      .dark & {
        background-color: rgb(var(--color-gray-800));
      }

      > div svg {
        width: 1.25rem;
        height: 1.25rem;
        color: rgb(var(--color-primary-500));
      }
    }
  }

  &__account-switcher {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;

      .⁂-icon {
        color: rgb(var(--color-gray-900));
        transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);


        .dark & {
          color: rgb(var(--color-gray-100));
        }

        > svg {
          height: 1rem;
          width: 1rem;
        }
      }
    }

    &__accounts {
      border-top-width: 2px;
      border-style: solid;
      border-color: rgb(var(--color-gray-100));

      .dark.black & {
        border-top-width: 1px;
      }

      .dark & {
        border-color: rgb(var(--color-gray-800));
      }
    }

    &__account {
      display: block;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      > div {
        pointer-events: none;
      }
    }

    &__add {
      display: flex;
      align-items: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      & > :not([hidden]) ~ :not([hidden]) {
        margin-left: 0.25rem;
      }

      .⁂-icon svg {
        width: 1rem;
        height: 1rem;
        color: rgb(var(--color-primary-500));
      }
    }

    &--expanded button .⁂-icon {
      transform: rotate(180deg);
    }
  }

  > div {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    row-gap: 1rem;
    overflow: auto;
    padding: 1rem;
  }
}

.⁂-thumb-navigation {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  overflow-x: auto;
  border-top-width: 1px;
  border-style: solid;
  border-color: rgb(var(--color-gray-200));
  background-color: #fffe;
  box-shadow: 0 25px 50px -12px #0004;
  backdrop-filter: blur(12px) saturate(2);

  @media (min-width: variables.$breakpoint-lg) {
    display: none;
  }

  .dark.black & {
    background-color: #000b;
  }

  .dark & {
    border-color: rgb(var(--color-gray-800));
    background-color: rgb(var(--color-primary-900) / 0.9);
  }

  &__item {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(var(--color-gray-600));

    .⁂-icon,
    .svg-icon {
      width: 1.25rem;
      height: 1.25rem;
      color: rgb(var(--color-gray-600));

      .dark.black & {
        color: #fff;
      }
    }

    &--active .⁂-icon {
      color: rgb(var(--color-primary-500));
    }

    &--compose {
      padding-left: 0.375rem;
      padding-right: 0.375rem;
      padding-top: 0.875rem;
      padding-bottom: 0.875rem;

      .⁂-icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.⁂-sidebar-navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    &__account {
      position: relative;
      display: flex;
      align-items: center;

      &__expand {
        color: rgb(var(--color-gray-600));

        &:hover {
          color: rgb(var(--color-gray-700));
        }

        .dark & {
          color: rgb(var(--color-gray-600));
        }

        .dark &:hover {
          color: rgb(var(--color-gray-500));
        }
      }
    }
  }

  .⁂-site-logo {
    height: 3rem;
    width: auto;
    cursor: pointer;
  }

  &--narrow {
    align-items: center;

    .⁂-site-logo {
      max-width: 2.5rem;
      height: auto;
    }

    .⁂-sidebar-navigation-link > p {
      display: none;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 0.375rem;
  }

  &__compose-button {
    @include mixins.button($theme: accent, $size: lg, $block: true);

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.⁂-sidebar-navigation-link {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  transition: color, background-color, border-color, text-decoration-color, fill, stroke 200ms cubic-bezier(0.4, 0, 0.2, 1);

  [dir="rtl"] & {
    flex-direction: row-reverse;
  }

  @media (height >= 960px) {
    padding: 0.5rem 0;
  }

  &__icon {
    position: relative;
    display: inline-flex;
    border-radius: 0.5rem;
    padding: 0.625rem;
    transition: color, background-color, border-color, text-decoration-color, fill, stroke 200ms cubic-bezier(0.4, 0, 0.2, 1);

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &--active {
    color: rgb(var(--color-gray-900));

    .dark & {
      color: #fff;
    }

    .⁂-sidebar-navigation-link__icon {
      background-color: rgb(var(--color-primary-600));

      svg {
        color: #fff;
      }
    }
  }

  &:not(&--active) {
    color: rgb(var(--color-gray-700));

    &:hover {
      color: rgb(var(--color-gray-700));
    }

    .dark & {
      color: rgb(var(--color-gray-400));
    }

    .dark &:hover {
      color: rgb(var(--color-gray-200));
    }

    .⁂-sidebar-navigation-link__icon {
      background-color: rgb(var(--color-primary-100));

      .dark & {
        background-color: rgb(var(--color-gray-900));
      }

      svg {
        color: rgb(var(--color-primary-700));

        .dark & {
          color: #fff;
        }
      }
    }
  }

  &:hover:not(&--active) &__icon {
    background-color: rgb(var(--color-primary-200));

    .dark.black & {
      background-color: rgb(var(--color-gray-800));
    }

    .dark & {
      background-color: rgb(var(--color-gray-700));
    }
  }

  > p {
    @include mixins.text($weight: semibold, $theme: inherit);
  }
}

.⁂-modal-root {
  opacity: 0;

  &:not(.⁂-modal-root--visible) {
    z-index: 50;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--visible {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100dvh;
  }

  &--revealed {
    opacity: 1;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgb(var(--color-gray-500) / 0.9);

    .dark.black & {
      background-color: rgb(var(--color-gray-900) / 0.9);
    }

    .dark & {
      background-color: rgb(var(--color-gray-700) / 0.9);
    }
  }

  &__container {
    position: fixed;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    pointer-events: none;
    overscroll-behavior: none;
    min-height: 100dvh;
    z-index: 9999;
  }

  &[data-modal-type='DROPDOWN_MENU'] &__overlay {
    opacity: 0.6;
  }

  &[data-modal-type='DROPDOWN_MENU'] {
    .⁂-modal-root__container {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  &:not([data-modal-type='MEDIA']) &__container {
    display: flex;
    padding: 0 1rem;

    @media (min-width: variables.$breakpoint-md) {
      padding: 0;
    }
  }
}

.⁂-dragging-area {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  position: fixed;
  z-index: 90;
  height: 100vh;
  width: 100vw;

  &--dragging {
    backdrop-filter: blur(8px);
  }
}

.⁂-layout {
  display: flex;
  flex-grow: 1;
  z-index: 1;

  &__content {
    // FIXME: min-h-[100dvh] is a workaround for some Ladybird bug
    min-height: 100dvh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 48rem;
    flex-grow: 1;

    @media (min-width: variables.$breakpoint-sm) {
      padding: 1rem 1.5rem 0;
    }

    @media (min-width: variables.$breakpoint-md) {
      gap: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .dark.black & {
      padding-top: 0;
    }

    &--full-width {
      display: flex;

      @media (min-width: variables.$breakpoint-md) {
        max-width: 100%;
      }
    }

    &:not(&--full-width) {

      @media (min-width: variables.$breakpoint-md) {
        display: grid;
        max-width: 80rem;
        grid-template-columns: repeat(12, minmax(0, 1fr));
      }

      @media (min-width: variables.$breakpoint-xl) {
        max-width: 90rem;
      }
    }
  }

  &__container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  &__sidebar {
    display: none;

    @media (min-width: variables.$breakpoint-lg) {
      display: block;
    }

    &--shrink {
      width: 2.5rem;
    }

    &:not(&--shrink) {
      grid-column: span 3 / span 3;
    }

    &__content {
      padding-bottom: 1rem;
    }
  }

  &__main {
    grid-column: span 6 / span 6;
    padding-bottom: 4rem;

    .dark.black & {
      border-color: rgb(var(--color-gray-800));
    }

    @media (min-width: variables.$breakpoint-md) {
      grid-column: span 12 / span 12;
    }

    @media (min-width: variables.$breakpoint-lg) {
      grid-column: span 9 / span 9;

      .dark.black & {
        border-left-width: 1px;
      }
    }

    @media (min-width: variables.$breakpoint-xl) {
      grid-column: span 6 / span 6;

      .dark.black & {
        border-right-width: 1px;
      }
    }

    &--chats {
      @media (min-width: variables.$breakpoint-xl) {
        padding-bottom: 4rem;
      }
    }

    .window-controls-overlay & {
      padding-top: env(titlebar-area-height);

      @media (min-width: variables.$breakpoint-lg) {
        .window-controls-overlay:not(.window-controls-overlay--right) & {
          padding-top: 0;
        }
      }

      @media (min-width: variables.$breakpoint-xl) {
        padding-top: 0;
      }
    }
  }

  &__aside {
    grid-column: span 3 / span 3;
    display: hidden;

    @media (min-width: variables.$breakpoint-xl) {
      display: block;
    }

    &__content {
      padding-bottom: 3rem;

      & > :not([hidden]) ~ :not([hidden]) {
        margin-top: 1rem;
      }
    }
  }
}

.⁂-widget {
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgb(var(--color-gray-200));

  .dark.black & {
    border-color: rgb(var(--color-gray-800));
  }

  .dark & {
    border-color: rgb(var(--color-primary-800));
  }
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    h1 {
      @include mixins.text($size: xl, $weight: bold);
    }
  }

  &__icon {
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #000;

    .dark & {
      color: #fff;
    }

    [dir="rtl"] & {
      transform: rotate(180deg);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}

.dark {
  .⁂-widget {
    @include mixins.card($variant: rounded);
    border-style: none;

    .dark.black & {
      border-style: solid;
      padding: 0;
      padding-bottom: 1.5rem;
    }
  }
}

.⁂-footer-text {
  @include mixins.text($size: sm, $theme: muted);

  a {
    @include mixins.text($size: inherit, $theme: subtle);
    text-decoration-line: underline;
  }
}

.⁂-separator::before {
  @include mixins.text($size: sm, $theme: muted);
  content: '·';
  user-select: none;
}

.⁂-site-error {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 3rem;
  padding-top: 4rem;

  @media (min-width: variables.$breakpoint-md) {
    grid-column: span 12 / span 12;
  }

  @media (min-width: variables.$breakpoint-lg) {
    grid-column: span 9 / span 9;
  }

  @media (min-width: variables.$breakpoint-xl) {
    grid-column: span 6 / span 6;
  }

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    background-color: rgb(var(--color-primary-900));
  }

  main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    max-width: 80rem;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: variables.$breakpoint-sm) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @media (min-width: variables.$breakpoint-md) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__body {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__message {
    margin-left: auto;
    margin-right: auto;
    max-width: 36rem;
    text-align: center;

    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: 0.5rem;
    }

    h1 {
      font-size: 1.875%;
      line-height: 2.25rem;
      font-weight: 800;
      letter-spacing: -0.025em;
      color: rgb(var(--color-gray-900));

      @media (min-width: variables.$breakpoint-sm) {
        font-size: 2.25rem;
        line-height: 2.5rem;
      }

      .dark & {
        color: rgb(var(--color-gray-500));
      }
    }

    &__body {
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: rgb(var(--color-gray-700));

      .dark & {
        color: rgb(var(--color-gray-600));
      }

      a {
        color: rgb(var(--color-primary-600));

        &:hover {
          text-decoration-line: underline;
        }

        .dark & {
          color: rgb(var(--color-primary-400));
        }
      }
    }
  }

  &__form {
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    & > :not([hidden]) ~ :not([hidden]) {
      margin-top: 1rem;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__message__version,
  &__browser {
    @include mixins.text($theme: muted);

    span {
      font-weight: 600;
    }
  }

  footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 80rem;
    flex-shrink: 0;
    padding: 0 1rem;

    @media (min-width: variables.$breakpoint-sm) {
      padding: 0 1.5rem;
    }

    @media (min-width: variables.$breakpoint-lg) {
      padding: 0 2rem;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;

    span {
      display: inline-block;
      border-left-width: 1px;
      border-color: rgb(var(--color-gray-300));
    }

    a {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      color: rgb(var(--color-gray-700));

      &:hover {
        text-decoration-line: underline;
      }

      .dark & {
        color: rgb(var(--color-gray-600));
      }
    }
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
    justify-content: center;

    img {
      height: 3rem;
      width: auto;
    }
  }
}

.⁂-network-error {
  display: flex;
  min-height: 160px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 2.5rem;

  p {
    @include mixins.text($align: center, $theme: muted);
  }
}

.⁂-layout__content .⁂-site-error {
  height: fit-content;
}

.⁂-toast {
  pointer-events: auto;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px #0001, 0 4px 6px -4px #0001;

  .dark.black & {
    background-color: #000;
  }

  .dark & {
    background-color: rgb(var(--color-gray-900));
    outline: 2px solid rgb(var(--color-gray-800));
  }

  &--visible {
    animation: enter 200ms ease-out;
  }

  &:not(&--visible) {
    animation: leave 150ms ease-in forwards;
  }

  > div {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  &__body {
    display: flex;
    width: 0;
    flex: 1 1 0%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.75rem;

    button,
    a {
      margin-top: 0.125rem;
      flex-shrink: 0;
      border-radius: 9999px;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      color: rgb(var(--color-primary-600));

      &:hover {
        text-decoration-line: underline;
      }

      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }

      .dark & {
        color: rgb(var(--color-primary-400));
      }
    }
  }

  &__content {
    display: flex;
    width: 0;
    flex: 1 1 0%;
    align-items: flex-start;
    gap: 0.75rem;

    p {
      padding-top: 0.125rem;
      @include mixins.text($weight: normal, $size: sm);
    }
  }

  &:has(> p) .⁂-toast__body p {
    font-weight: medium;
  }

  &__icon {
    flex-shrink: 0;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  > p {
    @include mixins.text($theme: muted, $size: sm);
  }

  &__dismiss {
    display: flex;
    flex-shrink: 0;
    padding-top: 0.125rem;

    button {
      display: inline-flex;
      border-radius: 0.375rem;
      color: rgb(var(--color-gray-600));

      &:hover {
        color: rgb(var(--color-gray-700));
      }

      &:focus {
        outline: 2px solid rgb(var(--color-primary-500));
        outline-offset: 2px;
      }

      .dark & {
        color: rgb(var(--color-gray-600));
      }

      .dark &:hover {
        color: rgb(var(--color-gray-500));
      }
    }
  }

  &__container {
    top: 1rem;
  }

  &--success .⁂-toast__icon svg {
    color: rgb(var(--color-success-500));

    .dark & {
      color: rgb(var(--color-success-400));
    }
  }

  &--info .⁂-toast__icon svg {
    color: rgb(var(--color-primary-600));

    .dark & {
      color: rgb(var(--color-primary-400));
    }
  }

  &--error .⁂-toast__icon svg {
    color: rgb(var(--color-danger-600));
  }
}
