@use 'variables';

.⁂-crypto-donate-modal {
  max-width: 24rem;
}

.⁂-hotkey-modal {
  max-width: 56rem;
}

.⁂-media-modal {
  pointer-events: auto;
  touch-action: pan-y;
  user-select: text;

  position: relative;

  display: flex;

  width: 100%;
  max-width: 100vw;
  height: 100%;

  background-color: rgb(var(--color-gray-900) / 0.9);

  &__content {
    touch-action: pan-y;

    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    height: 100%;

    transition: all 150ms var(--ease-default);

    @media (min-width: variables.$breakpoint-xl) {
      padding-right: 24rem;
    }
  }

  &__closer {
    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;

    display: flex;

    > div {
      overflow: auto;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;

      width: 100%;
    }

    .video-player,
    .audio-player {
      margin: 3rem 0;
    }
  }

  &__navigation {
    pointer-events: none;
    will-change: opacity;

    position: absolute;
    top: 0;
    bottom: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: opacity 0.3s linear;

    &--hidden {
      opacity: 0;
    }
  }

  &__closer,
  &__navigation {
    @media (min-width: variables.$breakpoint-xl) {
      inset-inline-end: 24rem;
    }
  }

  &--fullscreen {
    .⁂-media-modal__content {
      @media (min-width: variables.$breakpoint-xl) {
        padding-right: 0;
      }
    }

    .⁂-media-modal__closer,
    .⁂-media-modal__navigation {
      inset-inline-end: 0;
    }
  }
}

.⁂-zoomable-image {
  user-select: none;
  scrollbar-width: none;

  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &--error img {
    display: none;
  }

  &--dragging {
    cursor: grabbing;
  }

  &__preview {
    position: absolute;
    z-index: 1;

    overflow: hidden;

    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 80%;

    canvas {
      position: absolute;
      z-index: -1;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  img {
    touch-action: none;
    user-select: none;

    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 80%;

    outline: 1px solid rgb(var(--color-gray-400) / 0.15);
    outline-offset: -1px;
  }

  &--zoomed-in {
    // z-index: 9999;
    cursor: grab;

    img {
      border-radius: 0;
      outline: none;
    }
  }

  .⁂-spinner__container {
    position: absolute;
  }
}

.⁂-dropdown-menu-modal {
  position: absolute;
  inset: 0;

  > div {
    pointer-events: auto;

    position: fixed;
    z-index: 1001;
    right: 0;
    left: 0;

    overflow: auto;

    width: calc(100vw - 2rem);
    max-width: 32rem;
    max-height: calc(100dvh - 1rem);
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;

    background-color: #fff;
    box-shadow: var(--shadow-lg);

    transition-timing-function: var(--ease-default);
    transition-duration: 200ms;

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
    }

    .dark.black & {
      background-color: #000;
    }

    .no-reduce-motion & {
      transition: all 150ms var(--ease-default);
    }

    .dark & {
      background-color: rgb(var(--color-gray-900));
      outline-color: rgb(var(--color-primary-700));
    }
  }

  &:not(&--first-render) {
    > div {
      bottom: 0;
      opacity: 1;
    }
  }

  &--first-render {
    > div {
      .no-reduce-motion & {
        bottom: -8rem;
        opacity: 0;
      }
    }
  }

  &__close {
    padding: 0.5rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;

    button {
      display: flex;
      place-content: center;
      align-items: center;

      width: 100%;
      padding: 0.5rem;
      border-color: rgb(var(--color-gray-700));
      border-width: 1px;
      border-radius: 9999px;

      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;
      color: rgb(var(--color-gray-700));

      appearance: none;
      background-color: transparent;

      transition: all 150ms var(--ease-default);

      &:hover {
        background-color: #fff1;
      }

      .dark & {
        border-color: rgb(var(--color-gray-500));
        color: rgb(var(--color-gray-500));
      }
    }
  }

  .⁂-dropdown-menu__page,
  .⁂-dropdown-menu__expanded-page {
    width: 100%;
  }
}
