@use 'mixins';

.⁂-account-note-panel__header {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  span {
    @include mixins.text($theme: success);

    line-height: var(--leading-sm);
  }
}

.⁂-notifications-panel {
  flex-grow: 1;

  .⁂-widget__body {
    flex-grow: 1;
    gap: 0;
    min-height: 20rem;

    .ptr {
      display: grid; // why?
      flex-grow: 1;
    }

    .⁂-notification {
      padding: 0.5rem;
    }
  }
}

.⁂-shoutbox-widget {
  .⁂-widget__body {
    height: 20rem;
    max-height: 20rem;
  }
}

.⁂-announcements-widget {
  .⁂-widget__body {
    @include mixins.card($size: md, $variant: rounded);

    position: relative;
    gap: 0;

    .black & {
      border: 1px solid rgb(var(--color-gray-800));
      border-radius: var(--radius-xl);
    }
  }

  &__dots {
    position: relative;

    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    button {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: var(--radius-full);
      background-color: rgb(var(--color-gray-200));

      &:hover {
        background-color: rgb(var(--color-gray-300));
      }

      &:focus {
        outline: 2px solid rgb(var(--color-primary-600));
        outline-offset: 2px;
      }

      &[data-active='true'],
      &[data-active='true']:hover {
        background-color: rgb(var(--color-primary-600));
      }
    }
  }
}

.⁂-account-latest-status-panel {
  .⁂-card--slim {
    padding: 0;
  }

  html:not(.dark) & .⁂-read-more-button__gradient {
    background-image: linear-gradient(to bottom, transparent, rgb(var(--color-primary-50)));
  }
}

.⁂-new-event-panel,
.⁂-new-group-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    @include mixins.text($size: lg, $weight: bold);
  }

  &__text {
    @include mixins.text($theme: muted, $size: sm);
  }

  a,
  button {
    @include mixins.button($theme: secondary, $block: true);
  }
}
