@use 'mixins';

.⁂-account-note-panel__header {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  span {
    @include mixins.text($theme: success);

    line-height: var(--leading-sm);
  }
}

.⁂-notifications-panel__body {
  gap: 0;

  .⁂-status-list {
    height: 32rem;
  }

  .⁂-notification {
    padding: 0.5rem 0;
  }
}
