@use 'mixins';
@use 'variables';

.⁂-tokens {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: variables.$breakpoint-sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.⁂-token {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(var(--color-gray-100));
  padding: 1rem;

  .dark & {
    background-color: rgb(var(--color-primary-800));
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    @include mixins.text($size: md, $weight: medium);

    svg {
      display: inline;
      width: 1rem;
      height: 1rem;
      color: inherit;
    }
  }

  &__tokens {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;

    p {
      @include mixins.text($size: sm, $theme: muted);
    }
  }

  &__detail {
    @include mixins.text($size: sm, $theme: muted);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    button {
      @include mixins.button($theme: primary);
    }
  }

  &--current button {
    border-color: transparent;
    background-color: rgb(var(--color-danger-100));
    color: rgb(var(--color-danger-600));

    &:hover {
      background-color: rgb(var(--color-danger-600));
      color: rgb(var(--color-gray-100));
    }

    &:focus {
      outline-color: rgb(var(--color-danger-500));
    }

    .dark & {
      background-color: rgb(var(--color-danger-900));
      color: rgb(var(--color-danger-200));
    }

    .dark &:hover {
      background-color: rgb(var(--color-danger-500));
      color: rgb(var(--color-gray-100));
    }
  }
}
