$breakpoint-sm: 581px;
$breakpoint-md: 768px;
$breakpoint-lg: 976px;
$breakpoint-xl: 1280px;

:root {
  --shadow-sm: 0 1px 2px 0 #0001;
  --shadow-lg: 0 10px 15px -3px #0001, 0 4px 6px -4px #0001;
  --ease-default: cubic-bezier(0.4, 0, 0.2, 1);
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 0.9375rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --leading-xs: 1rem;
  --leading-sm: 1.25rem;
  --leading-base: 1.5rem;
  --leading-lg: 1.75rem;
  --leading-xl: var(--leading-lg);
  --leading-2xl: 2rem;
  --leading-3xl: 2.25rem;
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-full: 9999px;

  /* --hex-slate-50: #f8fafc;
  --hex-slate-100: #f1f5f9;
  --hex-slate-200: #e2e8f0;
  --hex-slate-300: #cbd5e1;
  --hex-slate-400: #94a3b8;
  --hex-slate-500: #64748b;
  --hex-slate-600: #475569;
  --hex-slate-700: #334155;
  --hex-slate-800: #1e293b;
  --hex-slate-900: #0f172a;
  --hex-slate-950: #020617;
  --hex-zinc-50: #fafafa;
  --hex-zinc-100: #f4f4f5;
  --hex-zinc-200: #e4e4e7;
  --hex-zinc-300: #d4d4d8;
  --hex-zinc-400: #a1a1aa;
  --hex-zinc-500: #71717a;
  --hex-zinc-600: #52525b;
  --hex-zinc-700: #3f3f46;
  --hex-zinc-800: #27272a;
  --hex-zinc-900: #18181b;
  --hex-zinc-950: #09090b; */
  --hex-neutral-50: #fafafa;
  --hex-neutral-100: #f5f5f5;
  --hex-neutral-200: #e5e5e5;
  --hex-neutral-300: #d4d4d4;
  --hex-neutral-400: #a3a3a3;
  --hex-neutral-500: #737373;
  --hex-neutral-600: #525252;
  --hex-neutral-700: #404040;
  --hex-neutral-800: #262626;
  --hex-neutral-900: #171717;
  --hex-neutral-950: #0a0a0a;

  /* --hex-stone-50: #fafaf9;
  --hex-stone-100: #f5f5f4;
  --hex-stone-200: #e7e5e4;
  --hex-stone-300: #d6d3d1;
  --hex-stone-400: #a8a29e;
  --hex-stone-500: #78716c;
  --hex-stone-600: #57534e;
  --hex-stone-700: #44403c;
  --hex-stone-800: #292524;
  --hex-stone-900: #1c1917;
  --hex-stone-950: #0c0a09; */
  --hex-red-50: #fef2f2;
  --hex-red-100: #fee2e2;
  --hex-red-200: #fecaca;
  --hex-red-300: #fca5a5;
  --hex-red-400: #f87171;
  --hex-red-500: #ef4444;
  --hex-red-600: #dc2626;
  --hex-red-700: #b91c1c;
  --hex-red-800: #991b1b;
  --hex-red-900: #7f1d1d;
  --hex-red-950: #450a0a;

  /* --hex-orange-50: #fff7ed;
  --hex-orange-100: #ffedd5;
  --hex-orange-200: #fed7aa;
  --hex-orange-300: #fdba74;
  --hex-orange-400: #fb923c;
  --hex-orange-500: #f97316;
  --hex-orange-600: #ea580c;
  --hex-orange-700: #c2410c;
  --hex-orange-800: #9a3412;
  --hex-orange-900: #7c2d12;
  --hex-orange-950: #431407;
  --hex-amber-50: #fffbeb;
  --hex-amber-100: #fef3c7;
  --hex-amber-200: #fde68a;
  --hex-amber-300: #fcd34d;
  --hex-amber-400: #fbbf24;
  --hex-amber-500: #f59e0b;
  --hex-amber-600: #d97706;
  --hex-amber-700: #b45309;
  --hex-amber-800: #92400e;
  --hex-amber-900: #78350f;
  --hex-amber-950: #451a03; */
  --hex-yellow-50: #fefce8;
  --hex-yellow-100: #fef9c3;
  --hex-yellow-200: #fef08a;
  --hex-yellow-300: #fde047;
  --hex-yellow-400: #facc15;
  --hex-yellow-500: #eab308;
  --hex-yellow-600: #ca8a04;
  --hex-yellow-700: #a16207;
  --hex-yellow-800: #854d0e;
  --hex-yellow-900: #713f12;
  --hex-yellow-950: #422006;

  /* --hex-lime-50: #f7fee7;
  --hex-lime-100: #ecfccb;
  --hex-lime-200: #d9f99d;
  --hex-lime-300: #bef264;
  --hex-lime-400: #a3e635;
  --hex-lime-500: #84cc16;
  --hex-lime-600: #65a30d;
  --hex-lime-700: #4d7c0f;
  --hex-lime-800: #3f6212;
  --hex-lime-900: #365314;
  --hex-lime-950: #1a2e05; */
  --hex-green-50: #f0fdf4;
  --hex-green-100: #dcfce7;
  --hex-green-200: #bbf7d0;
  --hex-green-300: #86efac;
  --hex-green-400: #4ade80;
  --hex-green-500: #22c55e;
  --hex-green-600: #16a34a;
  --hex-green-700: #15803d;
  --hex-green-800: #166534;
  --hex-green-900: #14532d;
  --hex-green-950: #052e16;

  /* --hex-emerald-50: #ecfdf5;
  --hex-emerald-100: #d1fae5;
  --hex-emerald-200: #a7f3d0;
  --hex-emerald-300: #6ee7b7;
  --hex-emerald-400: #34d399;
  --hex-emerald-500: #10b981;
  --hex-emerald-600: #059669;
  --hex-emerald-700: #047857;
  --hex-emerald-800: #065f46;
  --hex-emerald-900: #064e3b;
  --hex-emerald-950: #022c22;
  --hex-teal-50: #f0fdfa;
  --hex-teal-100: #ccfbf1;
  --hex-teal-200: #99f6e4;
  --hex-teal-300: #5eead4;
  --hex-teal-400: #2dd4bf;
  --hex-teal-500: #14b8a6;
  --hex-teal-600: #0d9488;
  --hex-teal-700: #0f766e;
  --hex-teal-800: #115e59;
  --hex-teal-900: #134e4a;
  --hex-teal-950: #042f2e;
  --hex-cyan-50: #ecfeff;
  --hex-cyan-100: #cffafe;
  --hex-cyan-200: #a5f3fc;
  --hex-cyan-300: #67e8f9;
  --hex-cyan-400: #22d3ee;
  --hex-cyan-500: #06b6d4;
  --hex-cyan-600: #0891b2;
  --hex-cyan-700: #0e7490;
  --hex-cyan-800: #155e75;
  --hex-cyan-900: #164e63;
  --hex-cyan-950: #083344;
  --hex-sky-50: #f0f9ff;
  --hex-sky-100: #e0f2fe;
  --hex-sky-200: #bae6fd;
  --hex-sky-300: #7dd3fc;
  --hex-sky-400: #38bdf8;
  --hex-sky-500: #0ea5e9;
  --hex-sky-600: #0284c7;
  --hex-sky-700: #0369a1;
  --hex-sky-800: #075985;
  --hex-sky-900: #0c4a6e;
  --hex-sky-950: #082f49;
  --hex-blue-50: #eff6ff;
  --hex-blue-100: #dbeafe;
  --hex-blue-200: #bfdbfe;
  --hex-blue-300: #93c5fd;
  --hex-blue-400: #60a5fa;
  --hex-blue-500: #3b82f6;
  --hex-blue-600: #2563eb;
  --hex-blue-700: #1d4ed8;
  --hex-blue-800: #1e40af;
  --hex-blue-900: #1e3a8a;
  --hex-blue-950: #172554;
  --hex-indigo-50: #eef2ff;
  --hex-indigo-100: #e0e7ff;
  --hex-indigo-200: #c7d2fe;
  --hex-indigo-300: #a5b4fc;
  --hex-indigo-400: #818cf8;
  --hex-indigo-500: #6366f1;
  --hex-indigo-600: #4f46e5;
  --hex-indigo-700: #4338ca;
  --hex-indigo-800: #3730a3;
  --hex-indigo-900: #312e81;
  --hex-indigo-950: #1e1b4b;
  --hex-violet-50: #f5f3ff;
  --hex-violet-100: #ede9fe;
  --hex-violet-200: #ddd6fe;
  --hex-violet-300: #c4b5fd;
  --hex-violet-400: #a78bfa;
  --hex-violet-500: #8b5cf6;
  --hex-violet-600: #7c3aed;
  --hex-violet-700: #6d28d9;
  --hex-violet-800: #5b21b6;
  --hex-violet-900: #4c1d95;
  --hex-violet-950: #2e1065;
  --hex-purple-50: #faf5ff;
  --hex-purple-100: #f3e8ff;
  --hex-purple-200: #e9d5ff;
  --hex-purple-300: #d8b4fe;
  --hex-purple-400: #c084fc;
  --hex-purple-500: #a855f7;
  --hex-purple-600: #9333ea;
  --hex-purple-700: #7e22ce;
  --hex-purple-800: #6b21a8;
  --hex-purple-900: #581c87;
  --hex-purple-950: #3b0764;
  --hex-fuchsia-50: #fdf4ff;
  --hex-fuchsia-100: #fae8ff;
  --hex-fuchsia-200: #f5d0fe;
  --hex-fuchsia-300: #f0abfc;
  --hex-fuchsia-400: #e879f9;
  --hex-fuchsia-500: #d946ef;
  --hex-fuchsia-600: #c026d3;
  --hex-fuchsia-700: #a21caf;
  --hex-fuchsia-800: #86198f;
  --hex-fuchsia-900: #701a75;
  --hex-fuchsia-950: #4a044e;
  --hex-pink-50: #fdf2f8;
  --hex-pink-100: #fce7f3;
  --hex-pink-200: #fbcfe8;
  --hex-pink-300: #f9a8d4;
  --hex-pink-400: #f472b6;
  --hex-pink-500: #ec4899;
  --hex-pink-600: #db2777;
  --hex-pink-700: #be185d;
  --hex-pink-800: #9d174d;
  --hex-pink-900: #831843;
  --hex-pink-950: #500724;
  --hex-rose-50: #fff1f2;
  --hex-rose-100: #ffe4e6;
  --hex-rose-200: #fecdd3;
  --hex-rose-300: #fda4af;
  --hex-rose-400: #fb7185;
  --hex-rose-500: #f43f5e;
  --hex-rose-600: #e11d48;
  --hex-rose-700: #be123c;
  --hex-rose-800: #9f1239;
  --hex-rose-900: #881337;
  --hex-rose-950: #4c0519; */
}
