html {
  scrollbar-gutter: stable;
}

body {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::selection {
  color: white;
  background: rgb(var(--color-primary-600));
}

.emojione {
  display: inline-block;

  width: 1rem;
  height: 1rem;
  margin-top: -0.2ex;
  margin-bottom: 0.2ex;

  vertical-align: middle;

  object-fit: contain;
}
