@use 'mixins';

.notification {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  &__header {
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }

  &__info {
    flex: 1 1 0%;
    min-width: 0;
  }

  &__icon {
    flex: none;
    color: var(--color-primary-600);

    .dark & {
      color: var(--color-primary-400);
    }

    &--emoji {
      width: 1rem;
      height: 1rem;
    }
  }

  &__timestamp {
    flex: none;
    margin-left: auto;

    @include mixins.text($size: sm, $theme: muted, $truncate: true);

    time {
      white-space: nowrap;
    }
  }

  a.notification__timestamp {
    &:hover {
      text-decoration: underline;
    }
  }

  .status__wrapper {
    padding: 0;
  }

  &__status-preview {
    @include mixins.text($truncate: true, $size: sm);

    overflow: hidden;
    display: -webkit-box;
    display: inline;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    text-overflow: ellipsis;

    br {
      display: none;
    }

    p {
      display: none;

      &:first-child {
        overflow: hidden;
        display: inline;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.notification--placeholder {
  padding: 1rem;
  background-color: white;

  .dark & {
    background-color: var(--color-primary-900);
  }

  .black & {
    background-color: black;
  }

  &__wrapper {
    width: 100%;

    .no-reduce-motion & {
      animation: pulse 2s ease-in-out infinite;
    }
  }

  &__content {
    margin-bottom: 0.5rem;
  }

  &__account {
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }

  &__avatar {
    flex-shrink: 0;
  }

  &__name {
    flex: 1;
    min-width: 0;
  }

  &__body {
    margin-top: 1rem;
  }
}
