@use 'mixins';

.notification {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  &__header {
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }

  &__info {
    flex: 1 1 0%;
    min-width: 0;
  }

  &__icon {
    flex: none;
    color: rgb(var(--color-primary-600));

    .dark & {
      color: rgb(var(--color-primary-400));
    }

    &--emoji {
      width: 1rem;
      height: 1rem;
    }
  }

  &__timestamp {
    flex: none;
    margin-left: auto;

    @include mixins.text($size: xs, $theme: muted, $truncate: true);

    time {
      white-space: nowrap;
    }
  }

  a.notification__timestamp {
    &:hover {
      text-decoration: underline;
    }
  }

  .status__wrapper {
    padding: 0;
  }
}
