@use 'mixins';

.search-item {
  &__account,
  &__link {
    padding-bottom: 1rem;
  }

  &__hashtag {
    padding-bottom: 0.75rem;
  }
}

.trends__empty-message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  button {
    @include mixins.button($theme: muted);
  }
}

.search-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__input {
    position: sticky;
    z-index: 10;
    top: calc(4.5rem + 2px);

    background: rgb(255 255 255 / 0.9);
    backdrop-filter: blur(8px), saturate(2);

    .dark & {
      background: rgb(var(--color-primary-900) / 0.9);
    }

    .black & {
      background: rgb(0 0 0 / 0.9);
    }
  }
}

.search-page,
.reports-page {
  &__account {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    padding: 0.5rem 0.5rem 1rem;
    border-bottom: 1px solid rgb(var(--color-gray-200));

    .dark & {
      border-color: rgb(var(--color-gray-800))
    }

    .icon-button {
      color: rgb(var(--color-gray-400));

      &:hover {
        color: rgb(var(--color-gray-600));
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    p {
      @include mixins.text($truncate: true);

      strong {
        overflow-wrap: break-word;
      }
    }
  }
}

.search-input {
  width: 100%;

  &__content {
    position: relative;
  }

  input {
    padding-right: 2.5rem;

    [dir='rtl'] & {
      padding-left: 2.5rem;
    }
  }

  button {
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;

    padding: 0 0.75rem;

    [dir='rtl'] & {
      right: auto;
      left: 0;
    }

    svg {
      width: 1rem;
      height: 1rem;
      color: rgb(var(--color-gray-600));
    }
  }
}