.icon-button {
  &::-moz-focus-inner {
    @apply border-0;
  }

  &::-moz-focus-inner,
  &:focus,
  &:active {
  outline: 0 !important;
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 0.6;
    @apply transition-colors duration-200 ease-out;
  }

  @apply text-black dark:text-white inline-flex items-center p-0 border-0 bg-transparent cursor-pointer transition duration-100 ease-in opacity-40;
}

.react-datepicker-popper {
z-index: 9999 !important;
}

.ellipsis::after {
  content: '…';
}

.react-swipeable-view-container {
height: 100%;
}

.react-swipeable-view-container > * {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.underline-line-through {
  text-decoration: underline line-through;
}
