.mention {
  color: var(--color-primary-600);

  .dark & {
    color: var(--color-primary-400);
  }

  &:hover {
    text-decoration: underline;
  }
}

.emoji-lg img.emojione {
  width: 2.25rem !important;
  height: 2.25rem !important;
}

.sr-only {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border-width: 0;

  white-space: nowrap;

  clip-path: inset(50%);
}
