.compose-form__upload-thumbnail {
  &.video {
    background-image: url('../assets/images/video-placeholder.png');
    background-size: cover;
  }

  &.audio {
    background-image: url('../assets/images/audio-placeholder.png');
    background-size: cover;
  }
}
