@use 'mixins';

.⁂-edit-event {
  @apply space-y-4;

  .⁂-content-type-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 11!important;
    @include mixins.button($theme: muted, $size: xs);

    .⁂-icon svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__banner__container {
    @apply dark:sm:shadow-inset relative flex h-24 items-center justify-center overflow-hidden rounded-lg bg-primary-100 text-primary-500 dark:bg-gray-800 dark:text-white sm:h-32 sm:shadow;
    
    img {
      @apply size-full object-cover;
    }

    .⁂-icon-button {
      @apply absolute right-2 top-2;
    }
  }

  .lexical {
    @apply block w-full rounded-md border border-gray-400 bg-white px-3 py-2 text-base text-gray-900 ring-1 placeholder:text-gray-600 focus-within:border-primary-500 focus-within:ring-primary-500 black:bg-black dark:border-gray-800 dark:bg-gray-900 dark:text-gray-100 dark:ring-gray-800 dark:placeholder:text-gray-600 dark:focus-within:border-primary-500 dark:focus-within:ring-primary-500 sm:text-sm;
  }

  .⁂-compose-form__editor__placeholder {
    @apply pt-2;
  }
}

.⁂-event-map-modal {
  max-width: 42rem;
}